#section-1{
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
  }
  #section-1 > #video-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #section-1 > span{
    color: white;
    top: 8px;
    left: 16px;;
    text-shadow: 2px 2px black;
    font-size: 24px;
  }